body {
    background-color: rgb(46 46 46);
    color: rgb(160,82,45);
    font-family: Tahoma, Arial, sans-serif;
}
.header {
    margin-top: 25px;
    display: flex;
}
.header img{
    margin-left: 5%;
    width: 200px;
}
.navigation {
    height: max-content;
    font-weight: bold;
    margin-right: 5%;
    text-align: right;
    margin-left: auto;
}
form {
    dispaly: flex;
}
form input, h1{
    margin-left: 5%;
    margin-right: 5%;
}
form input {
    background-color: rgb(75, 75, 75);
    color: rgb(160, 82, 45);
    margin-bottom: 15px;
    width: 300px;
}
form input[type="submit"] {
    width: max-content;
}
body a {
    color: rgb(160,82,45);
}
body a:link, a:visited, a:active, a:focus {
    color: rgb(160,82,45);
}
.error {
    margin-left: 5%;
}